scrapping/__pycache__/
output/*
output_save/*
*/.DS_Store
*/__pycache__/*
tests/*
/test.py
logs/*
*.xml
venv/*
*.pyc
short/*
*.iml
*.pyc
*.pyc
*.pyc
*.iml
.idea/parsing-journal-officiel.iml
spiders/__pycache__/JOPublicationSpider.cpython-36.pyc
