parsing_xml/data/*
**/logs.txt

scrapping/output/*
scrapping/output_save/*
scrapping/tests/*
scrapping/test.py
scrapping/logs/*
scrapping/spiders/__pycache__/*

*/.DS_Store
**/__pycache__/*
*.xml
*.pyc
*.iml
*.pyc
*.pyc
*.pyc
*.iml
